.order-title {
    text-align: left;
    margin-left: 150px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Newsreader, serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 76.8px */
    letter-spacing: -1.28px;
}

.order-title::after {
    content: "";
    display: block;
    width: calc(100% - 150px); /* A largura do container menos a margem esquerda do título */
    height: 1px;
    background-color: #e6e6e6;
    margin-top: 15px;
}