.container-register-customer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.login-form-customer {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 30%;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-customer, .register-button {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    outline: none;
}

.button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.register-button {
    flex: 1; /* Isso fará com que cada botão ocupe metade da largura da div button-group */
    margin: 10px 5px; /* Adicione uma pequena margem nas laterais para separar os botões */
}

.login-button {
    margin-right: 10px; /* Espaço adicional à direita para separar do botão de registro */
}