.products-title {
    font-family: 'Inter', sans-serif;
    text-align: left;
    margin-left: 150px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #000;
    font-size: 64px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -1.28px;
}

.products-title::after {
    content: "";
    display: block;
    width: calc(100% - 150px);
    height: 1px;
    background-color: #e6e6e6;
    margin-top: 15px;
}

.products-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 93px; /* Aumente o valor do gap para aumentar o espaço entre os cards */
    justify-content: flex-start;
    padding: 0 150px;
}

.product-card {
    width: calc(30% - 14px);
    border: 1px solid #E6E6E6;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fafaf5;
    transition: transform 0.3s;
    cursor: pointer;
    margin-bottom: 20px;
    padding: 0; /* removendo padding */
}


.product-card:hover {
    transform: scale(1.02);
}

.product-image {
    width: 100%;
    height: auto; /* mantenha auto para preservar a proporção da imagem */
    display: block;
    margin: 0; /* removendo margens */
    padding: 0; /* removendo padding */
    border-bottom: 1px solid #E6E6E6; /* opcional: uma borda para separar a imagem do texto */
    object-fit: cover; /* garante que a imagem cubra toda a área sem distorção */
}

.product-text {
    padding: 10px;
}

.product-name {
    margin-bottom: 5px;
    font-size: 1.1em;
}

.product-price {
    color: #C03333;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 1.1em;
}

.product-description {
    margin: 0;
    font-size: 0.9em;
}

.flashing {
    animation: flash 1s forwards;
}

@keyframes flash {
    0%, 100% {
        background-color: #fff;
    }
    50% {
        background-color: #dadada;
    }
}
