.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1600px;
    margin: 0 auto;
}

.product-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 395px;
    height: 500px;
    margin-bottom: 40px;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
}

.product-card:not(:nth-child(3n)) {
    margin-right: 150px;
}

.product-card img {
    width: 100%;
    height: auto;
    display: block;
}

.product-card-content {
    background-color: #FAFAF5;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 150px);
    overflow-y: auto;
}

.product-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-info h3, .product-info .product-price {
    margin: 0;
}

.product-price {
    color: red;
}

.product-description {
    margin-top: auto;
    margin-bottom: 10px;
}

.products-title {
    text-align: left;
    margin-left: 150px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #000;
    font-family: Newsreader, serif;
    font-size: 64px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -1.28px;
}

.products-title::after {
    content: "";
    display: block;
    width: calc(100% - 150px);
    height: 1px;
    background-color: #e6e6e6;
    margin-top: 15px;
}

.product-card.clicked {
    animation: blinker 1s linear;
    box-shadow: 0 0 5px red;
}

@keyframes blinker {
    0% {
        background-color: transparent;
    }
    50% {
        background-color: red;
    }
    100% {
        background-color: transparent;
    }
}
