.profile-title {
    text-align: left;
    margin-left: 150px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Inter', sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 76.8px */
    letter-spacing: -1.28px;
}

.profile-title::after {
    content: "";
    display: block;
    width: calc(100% - 165px); /* A largura do container menos a margem esquerda do título */
    height: 1px;
    background-color: #e6e6e6;
    margin-top: 15px;
}


.find-customer {
    padding: 10px;
    margin: 10px 150px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    width: 38.4%;
    font-size: 16px;
    outline: none;
    margin-right: 118px;
}

.customer-info{
    padding: 10px;
    margin: 10px 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #C03333;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #6c6c6c;
}

/* Estilos para a exibição dos dados */
.pedido, .meus-dados {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: center; /* Centralizado */
}

p {
    margin-bottom: 10px;
}

/* Estilo adicional para separar os botões de busca */
button:not(:last-child) {
    margin-right: 10px;
}



.orders-container h2 {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 10px;
}

.customer-section {
    width: calc(100% - 180px);
    position: relative;
    margin-left: 150px;
    display: flex;
    gap: 30px; /* Espaçamento entre os cards de dados e pedidos */
}

.customer-data p {
    font-size: 16px;
    margin: 10px 40px;
    font-family: 'Inter', sans-serif;
}

.pedidos {
    margin-top: 20px; /* Ajuste conforme necessário */
}

.order-card {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #FAFAF5;
    margin-bottom: 20px; /* Espaçamento entre cada pedido, ajuste conforme necessário */
}

.cart-product-card {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #FAFAF5;
    margin-bottom: 20px; /* Adicionado para espaço entre cada pedido. Ajuste se necessário. */
    display: flex; /* Para estrutura flexível */
}

.input-button-container {
    display: flex;
    align-items: center;

}

.lixeira{
    margin-right: 10px;
    cursor: pointer;
}