body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    color: black;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: auto; /* empurra os itens restantes para a direita */
}

.logo h1 {
    font-size: 2.5vw;
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter, serif;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 40px */
    letter-spacing: -0.4px;
}

.logo-icon {
    width: auto;
    height: 70px;
    margin-left: 40px;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    margin-left: 2vw;
    color: black;
    text-decoration: none;
    margin-right: 30px;
}

nav a svg {
    margin-right: 5px;
}

.logo-carrinho {
    background-color: red;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none; /* Para remover qualquer sublinhado do link */
}

.cart-count {
    margin-left: 5px;
}

nav a:hover, .logo-carrinho:hover {
    text-decoration: underline;
}
